[submodule "src/text-cleaner"]
	path = src/text-cleaner
	url = https://github.com/grammatek/text-cleaner
[submodule "src/regina_normalizer"]
	path = src/regina_normalizer
	url = https://github.com/grammatek/regina_normalizer
[submodule "src/ice-g2p"]
	path = src/ice-g2p
	url = https://github.com/grammatek/ice-g2p
[submodule "src/phrasing-tool"]
	path = src/phrasing-tool
	url = https://github.com/grammatek/phrasing-tool
