[submodule "src/text-cleaner"]
	path = src/text-cleaner
	url = git@github.com:grammatek/text-cleaner.git
[submodule "src/regina_normalizer"]
	path = src/regina_normalizer
	url = https://github.com/grammatek/regina_normalizer
[submodule "src/GreynirCorrect4LT"]
	path = src/GreynirCorrect4LT
	url = https://github.com/grammatek/GreynirCorrect4LT
[submodule "src/ice-g2p"]
	path = src/ice-g2p
	url = https://github.com/grammatek/ice-g2p
[submodule "src/phrasing-tool"]
	path = src/phrasing-tool
	url = git@github.com:grammatek/phrasing-tool.git
